<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Home Page</title>
</head>

<body>
    {{> header}}
    <h1>MY TESTING WEBSITE</h1>
    <p>Hi there! {{screamIt welcomeMessage}}</p>

    {{> footer}}
</body>



</html>